@font-face {
    font-display: swap;
    font-family: 'Sunflower Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Sunflower Medium'), url('Sunflower-Medium.woff') format('woff');
    }


h1 {
    font-family: 'Sunflower Medium';
    font-weight:800;
    color: skyblue;
}

@media screen and (max-width: 600px) {
    .head {
      padding: 1px;
      position: relative;
      z-index: 999;
    }

    .head > h1 {
        font-size: 30px;
        margin: 2px
    }
  }
